<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">

    <div class="large-6 columns">
      <label><%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </label>
    </div>

    <div class="large-6 columns">
      <label><%= f.label :username %>
        <%= f.text_field :username %>
      </label>
    </div>

    <div class="large-12 columns"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

    <div class="large-12 columns"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <fieldset>
      <legend>User Settings</legend>

      <label>Upload Avatar
        <%= f.file_field :avatar %>
      </label>
    </fieldset>

    <div class="large-12 columns"><%= f.submit "Sign up" %></div>

  </div>


<% end %>