<div class="large-12 columns">

  <div class="avatar-wrapper">
    <%= image_tag @user.avatar_url(:thumb) %>
  </div>

  <div class="main user-info">
    <h3>Welcome, <%= @user.username %>! <small>(not <%= @user.username %>? <%= link_to('sign out', destroy_user_session_path, :method => :delete) %>)</small></h3>
  </div>

  <div class="main user-details">
    joined <%= @user.created_at %>
    <p><%= @user.email %></p>
  </div>

    <div class="main user-playlists">
      <h4>Playlists <small>(<%= link_to "Add new", new_playlist_path %>)</small></h4>

      <% if !@user.playlists.empty? %>
        <%= render :partial => "shared/playlists" %>
      <% end %>
    </div>

    <% if !@f_playlists.empty? %>
      <div class="main favorited-playlists">
        <h4>Favorited Playlists</h4>
        <% @f_playlists.each do |fp| %>
          <%= link_to fp.name, fp %>
        <% end %>
      </div>
    <% end %>

    <% if !@videos.empty? %>
      <div class="main user-videos">
        <h4>User Videos</h4>
        <%= render :partial => "shared/listvideos" %>
      </div>
    <% end %>

    <% if !@f_videos.empty? %>
      <div class="main favorited-videos">
        <h4>Favorited Videos</h4>
        <%= render :partial => "shared/listfavoritevideos" %>
      </div>
    <% end %>

    <% if !@user.comments.empty? %>
      <div class="main user-comments">
          <h4>Comments</h4>
          <%= render :partial => "shared/comments" %>
      </div>
    <% end %>

</div>

