<div class="large-8 columns">

  <div class="videoWrapper">
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video1.url %>/?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="main video-info">
    <h3><%= @video1.title %></h3>
    <p><%= link_to @video1.user.username, @video1.user %></p>

    <%= form_tag("/videos/#{@video1.id}/add_to_playlist", method: "post") do %>
      <%= collection_select(:video, :playlist_id, Playlist.all, :id, :name) %>
      <%= submit_tag "Add", class: "add" %>
    <% end %>

  </div>

  <div class="main video-details">
    <h5>Published on <%= @video1.created_at %></h5>
    <p><%= @video1.description %></p>
  </div>

  <div class="main video-comments">
    <h5>All Comments</h5>
  </div>

</div>

<div class="main large-4 columns">
<%= render :partial => "shared/sidebar", :item => @videos %>
</div>

