<div class="large-8 columns">

  <div class="videoWrapper">
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video.url %>/?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="main video-info">
    <h3><%= @video.title %></h3>
    <p><%= link_to @video.user.username, @video.user %></p>
    <!-- <p>video url: <%= link_to "video", @video.url %></p> -->
    <p></p>
  </div>

  <div class="main video-details">
    <h5>Published on <%= @video.created_at %></h5>
    <p><%= @video.description %></p>
  </div>

  <div class="main video-comments">
    <h5>All Comments</h5>
  </div>

</div>

<div class="main large-4 columns">
<%= render :partial => "shared/sidebar", :item => @videos %>
</div>

