<div class="large-8 columns">

  <div class="videoWrapper">
    <iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video.url %>/?hd=1&rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="main video-info">
    <h3><%= @video.title %></h3>
    <p><%= link_to @video.user.username, @video.user %></p>


    <%= form_tag("/videos/#{@video.id}/add_to_playlist", method: "post") do %>
      <%= collection_select(:vid, :playlist_id, current_user.playlists, :id, :name) %>
      <%= submit_tag "Add", class: "button tiny" %>
    <% end %>

  </div>

  <div class="main video-details">
    <p><%= @video.description %></p>
    <p><%= link_to "add video to favorites", video_favorite_path(:user_id => current_user.id, :video_id => @video.id), method: :post %></p>
  </div>

  <div class="main video-comments">

    <h5>All Comments (<%= @video.comments.length %>)</h5>

    <div class="new-comment-container">

      <% if user_signed_in? %>
        <div class="user-icon">
          <%= image_tag current_user.avatar_url(:thumb) %>
        </div>

        <div data-video-id="<%= @video.id %>" data-user-id="<%= current_user.id %>" class="post-comment form">

        <%= text_area :comment, :content %>

        </div>
      <% end %>

    </div>

    <%= render :partial => "shared/comments" %>

  </div>

</div>

<div class="main large-4 columns">
<%= render :partial => "shared/sidebar", :item => @videos %>
</div>

