<header id="main-header">
  <div class="row">
    <div class="logo small-3 columns">
    <%= link_to image_tag("youtube.jpg", alt: "metube"), root_path %>
    </div>
    <div class="main-search small-6 columns">
    
      <%= text_field_tag :q, nil, placeholder: "Enter search..." %>
      <div class="search-dropdown-container">

      </div>
    </div>
    <div class="user-info small-3 columns">

    <div class="user-container">

      <% if user_signed_in? %>
        <!-- show upload button, avatar info, user account dropdown -->
        
        <div class="info">
          <ul>
            <li class="avatar">
              <%= image_tag current_user.avatar_url(:thumb) %>
            </li>
            <li>
              <%= link_to "hi, #{current_user.username}", current_user, class: "main-user-link" %>
              <ul>
                <li>
                  <%= link_to "view profile", current_user %>
                </li>
                <li>
                  <%= link_to "sign out", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      <% else %>
        <!-- show login button -->
          <div class="info">
            <ul>
              <li>
                <%= link_to "sign in", new_user_session_path %>
                <ul>
                  <li>
                    <%= link_to "new account", new_user_registration_path %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      <% end %>
  </div>
      
    </div>
  </div>
</header>

<div id="top-bar">
  <div class="row">
    <div class="selector large-12 columns">
      <%= link_to "Videos", root_path %>
      <%= link_to "Playlists", playlists_path %>
    </div>
  </div>
</div>
