<%= form_for @user, :html => {:multipart => true} do |f| %>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  name: <%= f.text_field :name %><br>
  username: <%= f.text_field :username %><br>
  email: <%= f.email_field :email %>
  avatar: <%= f.file_field :avatar %>
  <%= f.submit %>
<% end %>